<footer class="container_f" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">

    <div class="footer_row">
        <div class="column">
            <p>2023</p>
        </div>
        <div class="footer_column">
            <h3>О нас</h3><br>
            <a href="#">Наша команда</a><br><br>
            <a href="#">Условия</a><br><br>
            <a href="#">Вакансии</a><br><br>
            <a href="#">Запись к нам</a>
        </div>
        <div class="footer_column">
            <h3>Навыки</h3>
            <p>Принципы ООП</p>
            <p>Разработка проектов на JavaFx</p>
            <p>Разработа сайтов на Spring Boot</p>
            <p>Знание языка SQL </p>
        </div>
        <div class="footer_column">
            <h3>Мои контакты</h3>
            <p>Исакова Мария Александровна</p>
            <p>Java Developer</p>
            <a href="mailto:bubawenka@gmail.com">bubawenka@gmail.com</a><br><br>
            <a href="tel:+79533540075">+7(953)-354-0075</a>
        </div>
    </div>
</footer>